{% style %}
    #section-{{section.id}} .featured-collection__title {
      font-size: var(--size-10);
    }

    @media (min-width: 768px) {
    #section-{{section.id}} .featured-collection__title {
      font-size: var(--size-14);
    }
  }

    #section-{{section.id}} .featured-collection__description {
      font-size: var(--size-5);
    }

    #section-{{section.id}} img {
      width: 100%;
      margin-bottom: var(--size-4);
    }

    #section-{{section.id}} .featured-collection__product p {
      margin-bottom: var(--size-2);
    }
    #section-{{section.id}} .swiper-pagination {
      display: none;
  }
  @media (min-width: 768px) {
    #section-{{section.id}} .swiper-pagination {
      display: block;
    }
  }

    #section-{{section.id}} a {
      display: inline-block;
      margin-top: var(--size-2);
      color: var(--black);
    }


    #section-{{section.id}} .swiper-button {
      display: none;
    }

    @media (min-width: 768px) {
    #section-{{section.id}} .swiper-button {
      display: block;
    }
  }
{% endstyle %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<div class="featured-collection" id="section-{{section.id}}">
  <div class="container">
    <h3 class="featured-collection__title">{{ section.settings.title }}</h3>
    <p class="featured-collection__description">{{ section.settings.description }}</p>
  </div>

  {% if section.settings.collection != blank %}
    {% assign featured_collection = collections[section.settings.collection] %}
    <div class="featured-collection__wrapper">
      <div class="featured-collection__products swiper mySwiper  container">
        <div class="swiper-wrapper">
          {% for product in featured_collection.products limit: 6 %}
            <div class="featured-collection__product swiper-slide ">
              <img src="{{ product.featured_image | img_url: width: 900 }}" alt="{{ product.title }}">
              <p>{{ product.title }}</p>
              <p>{{ product.price | money }}</p>
              <a href="{{ product.url }}" class="buy-now">{{ section.settings.cta }}</a>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-button-prev swiper-button"></div>
      <div class="swiper-button-next swiper-button"></div>
    </div>
  {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.mySwiper', {
    slidesPerView: 3,
    spaceBetween: 1,
    freeMode: false,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "text",
      "id": "cta",
      "label": "Call To Action",
      "default": "BUY NOW"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}
