<section class="hero" id="section-{{section.id}}">
<img src="{{section.settings.hero_image |  img_url:'750x'}}" alt="{{section.settings.title}}" width="100px" height="100px"/> 
<h1>{{section.settings.title}}</h1>
<p>{{section.settings.description}}</p>
</section>

{%  schema  %} 
  {
    "name": "Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      }
    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
  
  {% endschema %}